@page
@model HospOps.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
        <div class="card shadow-sm mt-4">
            <div class="card-body">
                <h4 class="card-title mb-3">Create account</h4>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="mb-3">
                        <label asp-for="Input.UserName" class="form-label"></label>
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="Input.DisplayName" class="form-label"></label>
                        <input asp-for="Input.DisplayName" class="form-control" />
                        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-success w-100">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}